.home {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 3em;
}

.home h1 {
    font: 2rem 'Ubuntu', monospace;
    letter-spacing: 0.12rem;
    font-weight: 600;
}

.text-shadow-dark {
    text-shadow: 2px 2px 4px black;
}

.text-shadow-light {
    text-shadow: 1px 1px 2px rgb(94, 94, 94);
}

.home-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.home-component {
    height: 60vh;
    width: 40vw;
    padding: 1.2em;
    margin-left: 2vw;
    border: 2px solid rgb(196, 196, 196);
    box-shadow: 1px 1px 1px 1px rgb(172, 171, 171);
    border-radius: 1em;
    letter-spacing: 0;
    font: 1rem 'Ubuntu', monospace;
    overflow: hidden;
}

.home-component h2 {
    display: flex;
    justify-content: center;
    text-shadow: 1px 1px 1px black;
    border: 1px solid rgb(187, 187, 187);
    box-shadow: 1px 1px 1px 1px rgb(163, 163, 163);
    border-radius: 0.5em;
    margin: 0;
}

@media (max-width: 900px){
    .home {
        padding: 2em;
    }
    .home h1 {
        font-size: 1.1rem;
    }
    .avatar{
        height: 'auto';
        width: 200px;
    }
    .home-container {
        display: flex;
        flex-direction: column;
    }
    .home-component {
        margin-left: 0;
        margin-top: 5vh;
        height: 40vh;
        width: 100%;
    }
}
