.App {
  display: flex;
  flex-direction: column;
}

.App-container {
  display: flex;
  justify-content: center;
}

.container-card {
  width: 70vw;
  margin: 8vh;
}

.radial-bg {
  background: radial-gradient(rgb(245, 225, 225), rgb(255, 242, 223));
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(195, 195, 195);
}

@media (max-width: 1024px) {
  .container-card {
    margin: 5vh 0;
    width: 80vw;
  }
}

@media (max-width: 900px) {
  .container-card {
    margin: 5vh 0;
    width: 85vw;
  }
}

@media (max-width: 526px) {
  .container-card {
    margin: 5vh 0;
    width: 90vw;
  }
}