.App {
  display: flex;
  flex-direction: column;
  background: linear-gradient(to right, rgb(228, 227, 236), rgb(238, 234, 241));
}

.App-container {
  display: flex;
  justify-content: center;
}

.container-card {
  height: 200vh;
  width: 70vw;
  margin: 8vh 0;
  background: linear-gradient(to right, rgb(255, 250, 250), rgb(253, 247, 255));
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(182, 182, 182);
}

::-webkit-scrollbar-track-piece {
  background-color: rgb(238, 234, 241);
  color: rgb(214, 181, 255);
}

@media (max-width: 526px) {
  .container-card {
    margin: 5vh 0;
    width: 90vw;
  }
}